.sidebar .nav-link.active {
  border-right: 6px solid #1d68a7 !important;
}

.sidebar .nav {
  margin-left: 0 !important;
}

.navbar {
  padding: 0 !important;
}

.main .container-fluid {
  padding: 20px 30px !important;
}